.ignore
arithmetic/Makefile
arithmetic/arithmetic.pro.user.dab7bcc.3.3-pre1
arithmetic/list/Makefile
arithmetic/list/Makefile.Debug
arithmetic/list/Makefile.Release
arithmetic/list/debug/
arithmetic/list/ui_MainWindow.h
try/try.pro.user.dab7bcc.3.3-pre1
arithmetic/list/release/
arithmetic/list/ui_dir_win32/
try/testCode/release/
try/testCode/ui_dir_win32/
try/testWidget/debug/
try/testWidget/release/
try/testWidget/ui_dir_win32/
outPut/release/bin/*.exe
try/testXml/ui_dir_win32/
try/testXml/release/*
try/testXml/object_script.testXml.*
try/testPtr/release/*
functionModule/JsonToHash/debug/*
functionModule/JsonToHash/release/*
functionModule/Makefile*
